# custom
.DS_Store
__pycache__/
log/*
data/*
test_samples/*
results/*
weights/*
tracking_csv_files3/*
robocup2d_data/*
robocup2d_data_/*
robocup2d_data__/*
slurm-*
run.sh
*.pkl
*.gif

components/.DS_Store
components/__pycache__/
config/.DS_Store
config/algs/.DS_Store
controllers/.DS_Store
controllers/__pycache__/
envs/.DS_Store
envs/__pycache__/
learners/.DS_Store
learners/__pycache__/
modules/.DS_Store
modules/__pycache__/
utils/.DS_Store
utils/__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
